.vscode/
bin/*
node_modules/
/abigen/
logs/

*_gen.go
*_easyjson.go
server/gate/gate/gen
cluster/gate/gate/gen

wire_gen.go
proto/gen/

*.copier.go
.vendor-new
vendor
tmp/
.vs/
.DS_Store
*.sw*
*.un~
*/bin/*
logs/*
.idea/*
.vscode/*
.prettierignore
!.vscode/launch.json
!.vscode/task.json
.coverage
debug
Log.txt
errors.log
info.log
mocks/
mock/
!wire.go
cluster/asset/service/public/
public/*
deployments/sandbox/
deployments/k8s/
Cubiquity.log
cluster/gate/gate/gen
cluster/gate/bms/gen
cluster/asset/graphql/gen
tools/protocolgen/output
cluster/common/notify/firebase/mock
deploy/app/private
*_gen.go
*_easyjson.go
easyjson-bootstrap*.go

node_modules
web/client/build
debug.test

.env

.kbld-mapping.json
.agollo

*.bak

wire_gen.go
proto/gen/

generated/

# 复制过来的依赖的proto文件
third_party/LilithGames/nevent
third_party/LilithGames/nrpc
third_party/envoyproxy

*.copier.go

third_party

!bin/abi
